PROJECT_NAME=Blank


# LOCAL/DEV/STAGE/PROD
VERSION=DEV


# Do not output debug info to console
DEBUG=0
# Run using uvicorn server, see scripts/server_run.sh
IS_DEVELOPMENT=0


FRONTEND_URL=
BACKEND_URL=


# Include https requests in swagger. Set 1 if using https
# INCLUDE_HTTPS_SCHEMA=1


# DB type
DATABASE=postgres

# Access data to remote DB
DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=
DB_PORT=


# Data for Redis docker image
REDIS_SERVER=redis
REDIS_PASSWORD=12345678
REDIS_APP_DB=0
REDIS_CELERY_DB=1
REDIS_PORT=6379


# Path to .json file
GOOGLE_APPLICATION_CREDENTIALS=/app/service-account-file.json


# Abs root url for GC storage
STORAGE_PUBLIC_PATH=https://storage.googleapis.com/{}/


# Remote static files storage
# Remote storage class
STATIC_STORAGE=core.gcloud.GoogleCloudStaticFileStorage
# Abs or relative path in container
STORAGE_STATIC_ROOT=static/
# Bucket name
GS_STATIC_BUCKET_NAME=static


# Remote media files storage
# Remote storage class
STORAGE=core.gcloud.GoogleCloudMediaFileStorage
# Abs or relative path in container
STORAGE_MEDIA_ROOT=media/
# Bucket name, should be different from GS_STATIC_BUCKET_NAME
GS_MEDIA_BUCKET_NAME=media


# Credentials for setting up admin panel access, see server_setup.sh
DJANGO_SUPERUSER_PASSWORD=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_USERNAME=


CSRF_TRUSTED_ORIGINS=https://*.bypixelfield.com/,https://*.pixelfield.dev,http://0.0.0.0/
CORS_ORIGIN_WHITELIST=http://127.0.0.1:4200,http://localhost:4200,http://127.0.0.1:8080,http://localhost:8080,http://127.0.0.1:3000,http://localhost:3000,http://0.0.0.0


# ---------------  SENTRY ----------------- #
SENTRY_DSN=


# --------------- SENDGRID ---------------- #
SENDGRID_KEY=
DEFAULT_EMAIL_FROM=


# ---------------- TWILIO ----------------- #
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_SERVICE_UID=

